body {
    margin: 0;
    font-family: "Bubblegum Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.background {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url('../image/backgroundImage.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    /*text-align: center;*/
    padding: 20px;
}

.logo {
    width: 3%;
    height: auto;
    margin-right: 20px;
    right: 0;
    float: right;
    margin-top: 20px;
}

#bin {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

#bin:hover {
    transform: scale(1.05);
}

input[type="text"] {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    border-radius: 20px;
    font-size: 16px;
    padding: 10px;
}

.custom-loader {
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: conic-gradient(#0000 10%, #28a745);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: s3 1s infinite linear;
    margin: 20px auto;
}

@keyframes s3 {
    to {
        transform: rotate(1turn);
    }
}
h5,
h4,
p {
    color: #000;
}

p {
    font-size: large;
}

.display-2 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.about {
    color: black;
    font-size: large;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #28a745;
    background-color: transparent;
    text-decoration: none;
}

ul,
li {
    color: #000;
    font-size: large;
}

hr {
    color: #000;
}

h1 {
    -webkit-text-stroke: 3px black;
    /* per Safari */
    text-stroke: 1px black;
    /* standard */
    margin-bottom: -20px;
}


label{
    color:#000;
}

.inputVisits {
    
}