
.div2 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#buttons {
    margin-top: auto; /
}

#div1 {
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px; 
}

.content {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    align-items: center;
    transition: box-shadow 0.3s ease;
}

.content:hover {
    box-shadow: 0 0 10px 2px rgba(0, 255, 136, 0.7);
}

.content2{
    text-align: center;
}

.content[id="2"] {
    margin-left: auto; 
}
.content[id="4"] {
    margin-left: auto; 
}

#divResult{
    background-color: rgba(255, 255, 255, 0.3);
}

.important-title{
    color: rgb(1, 7, 54);
    font-size: 130%;
}

.important-subtitle{
    color: rgb(69, 84, 199);
    font-size: 120%;
}

.important-text{
    color: black;
}

