.form-control, .btn {
    border-radius: 10px;
}

.form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.form-group {
    display: flex;
    align-items: stretch;
}

.form-group .form-control {
    flex: 1;
}

.form-group .btn {
    margin-left: -1px;
}

.results-table {
    width: 80%; /* Riduce la larghezza del tavolo per migliorare l'aspetto */
    margin: 20px auto; /* Centra il tavolo */
    border-collapse: collapse;
}

.results-table td, .results-table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: white; /* Corregge il colore del testo per migliorare la leggibilità */
}

td:hover{
    color: #198754;
}

#resultErr td:hover{
    color: #871919;
}

.results-table th {
    background-color: #f2f2f2;
}

#accessibility-percentage {
    margin-bottom: 10px; /* Adjust this value as needed */
}


canvas {
    width: 100%;
    height: auto;  
}

#con {
    width: 100%;
    height: 100%;  
}

#buttons {
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.click {
    border-radius: 10px;
    width: 100%; 
    box-sizing: border-box; 
    padding: 10px; 
    margin-bottom: 10px; 
}

.important-title {
    color: rgb(1, 7, 54);
    font-size: 130%;
}

.important-subtitle {
    color: rgb(69, 84, 199);
    font-size: 120%;
}

.important-text {
    color: black;
}

@media screen and (max-width: 768px) {
    #divResult, #divResult2 {
        width: 100%;
        margin: 10px 0;
    }
}

#screenshot img{
    width: 60%;
    height: auto;
}

.row{
    flex-wrap: nowrap;
}

#screenshot{
    margin-top: 10%;
}

#row1, #row2, #row3, #buttons{
    margin-bottom: 5%;
}

#page-title{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

