.navbar {
    background-color: #198754 !important; 
}

.navbar-brand {
    font-family: "Bubblegum Sans", sans-serif;
    font-size: 24px;
}

.navbar-nav {
    margin: 0 auto;
}

.navbar-collapse {
    display: flex; 
    justify-content: center;
}

.navbar-nav .nav-item {
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px; 
}

.nav-link {
    font-size: 18px;
}

.navbar-nav .nav-item .nav-link {
    border-radius: 10px; 
    color: white; 
    transition: all 0.3s ease; 
    background-color: #198754; 
    text-align: center; 
    width: 100%; 
    padding: 10px 0; 
}

.navbar-nav .nav-item .nav-link:hover {
    color: #198754; 
    background-color: white; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.navbar-divider {
    border-left: 1px solid white;
    height: 40px;
    margin: auto 10px;
}
