@media print {
    @page {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

@media print {
    .print-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
        transform-origin: 0 0;
        width: 80%;
        padding: 20px;
        font-size: 14px;
    }

    .btn-print,
    .btn-info,
    .btn-pdf,
    .btn-more,
    .btn-less,
    .btn-primary,
    .btn-success {
        display: none !important;
    }

    .footer {
        display: none;
    }

    @page {
        margin-top: 0;
        margin-bottom: 0;
        size: auto;
    }
}